# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Jupyter
.ipynb_checkpoints/

# Raw astronomy data
data/raw/

# Processed astronomy data
data/processed/

# Models
models/*.pkl
models/*.pt

# OS
.DS_Store